@*
   this is the view for displaying all products
*@

@{
    ViewData["Title"] = "All Products";
}

@model List<ProductModel>
@{
    ViewData["Title"] = "All Products";
    var userRole = Context.Session.GetString("UserRole");
}

@if(userRole == null || userRole.Equals("Farmer"))
{
    //display unauhtorised access page
    <h1 class="card-title">Unauthorised access</h1>
}
else
{
    <div class="container">
        <h1>All Products</h1>

        <p>Filters</p>
        <select  class="form-control" asp-items="Html.GetEnumSelectList<ProductCategory>()">
            <option value="">Select a category</option>
        </select>
         <input asp-for="startDate" type="date" class="form-control" placeholder="Entera start date" />
        <input asp-for="endDate" type="date" class="form-control" placeholder="Entera start date" />

        <select class="form-control" action="">
            <option value="">Select a Farmer</option>
            </select>

        <a asp-controller="Employee" asp-action="FilterProducts" class="btn btn-primary">Filter Products</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Category</th>
                    <th>Production Date</th>
                    <th>Farmer Name</th>
                </tr>
            </thead>
            <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                foreach (var product in Model)
                {
                    <tr>
                        <td>@product.productID</td>
                        <td>@product.productName</td>
                        <td>@product.productDescription</td>
                        <td>@product.productCategory</td>
                        <td>@product.productionDate.ToString("yyyy-MM-dd")</td>
                        <td>@product.farmer.farmerFirstName +" "+ @product.farmer.farmerLastName</td>
                    </tr>
                }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No products found.</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
}