@*
   this is the view for displaying all products
*@

@{
    ViewData["Title"] = "All Products";
}

@model IEnumerable<ProductModel>
@{
    var userRole = Context.Session.GetString("UserRole");
}

@if(userRole == null || userRole.Equals("Farmer"))
{
    //display unauhtorised access page
    <h1 class="card-title">Unauthorised access</h1>
}
else
{
    <div class="container">
        <h1>All Products</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Category</th>
                    <th>Production Date</th>
                    <th>Product Image</th>
                    <th>Farmer ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.productID</td>
                        <td>@product.productName</td>
                        <td>@product.productDescription</td>
                        <td>@product.productCategory</td>
                        <td>@product.productionDate</td>
                        <td>@product.productImage</td>
                        <td>@product.farmerId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
})