@*
   this is the view for displaying all products
*@

@{
    ViewData["Title"] = "All Products";
}

@model ProductFilterModel
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "All Products";
    var userRole = Context.Session.GetString("UserRole");
}

@if(userRole == null || userRole.Equals("Farmer"))
{
    //display unauhtorised access page
    <h1 class="card-title">Unauthorised access</h1>
}
else
{
    <div class="container">
        <h1>All Products</h1>

        <p>Filters</p>
        <form asp-action="allProducts" method="post" class="mb-4">
            <div class="form-group">
                <label>Category</label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<ProductCategory>()">
                    <option value="">Select a category</option>
                    </select>
            </div>
            <div class="form-group">
                <label>Start Date</label>
                <input asp-for="StartDate" type="date" class="form-control" placeholder="Enter a start date" />
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input asp-for="EndDate" type="date" class="form-control" placeholder="Enter an end date" />
                    </div>
                    <div class="form-group">
                        <label>Farmer</label>
                <select asp-for="selectedFarmerId" class="form-control" asp-items="Model.Farmers">
                            <option value="">Select a Farmer</option>
                        </select>

                        <button type="submit" class="btn btn-primary mt-2">Filter</button>
        </form>
     

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Category</th>
                    <th>Production Date</th>
                    <th>Farmer Name</th>
                </tr>
            </thead>
            <tbody>
                    @if (Model.Products != null )
                    {
                foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.productID</td>
                        <td>@product.productName</td>
                        <td>@product.productDescription</td>
                        <td>@product.productCategory</td>
                        <td>@product.productionDate.ToString("yyyy-MM-dd")</td>
                        <td>@product.farmer.farmerFirstName @product.farmer.farmerLastName</td>
                    </tr>
                }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No products found.</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
}