@*
    this view is used to display the details of all farmers in the databse all in a table. It can only be accessed by employees. The employee can view the farmers details and provide them with thier login details.
     Refrences Links:
    -https://www.w3schools.com/asp/razor_intro.asp
    -https://learn.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-9.0&tabs=visual-studio
    -https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-9.0
*@


@{
    ViewData["Title"] = "Farmer Details";
}
@model IEnumerable<FarmerModel>

    <div class="container">
        <h1>Farmer Details</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Farmer ID</th>
                    <th>Farmer Name</th>
                    <th>Farmer Surname</th>
                    <th>Farmer Location</th>
                    <th>Farmer Email</th>
                    <th>Farmer Password</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    @foreach (var farmer in Model)
                    {
                        <tr>
                            <td>@farmer.farmerId</td>
                            <td>@farmer.farmerFirstName</td>
                            <td>@farmer.farmerLastName</td>
                            <td>@farmer.farmerLocation</td>
                            <td>@farmer.farmerEmail</td>
                            <td>@farmer.farmerPassword</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No farmers found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


