@*
    a page for farmers to view all thier products
*@
@{

}

@model List<ProductModel>
@{
    ViewData["Title"] = "Product Listings";
    var userRole = Context.Session.GetString("UserRole");
}

    <div class="container">
            <h1 >Product Listings</h1>
            <p >
                Please view your product listings<br />
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Category</th>
                        <th>Production Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.productID</td>
                                <td>@product.productName</td>
                                <td>@product.productDescription</td>
                                <td>@product.productCategory</td>
                                <td>@product.productionDate.ToString("yyyy-MM-dd")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No products found.</td>
                        </tr>
                    }
                </tbody
            </table>
    </div>
